# Email Configuration
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=yourname@example.com
EMAIL_PASSWORD=your_password_or_app_password

# Server Configuration
PORT=3000
CLIENT_ORIGIN=http://localhost:5500

# Set NODE_ENV to 'production' in production
NODE_ENV=development
