# Node modules
node_modules/

# Environment variables
.env
.env.local

# Build files
dist/
build/

# Log files
*.log
npm-debug.log*

# Editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db